<style>
    .body{
        overflow-x: hidden;
        width: 100%; 
        background-color: {{color}};
    }
    
    .title{
        font-family: Verdana, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 58;
        display: inline-block;
        margin-right: 55%;
        margin-left: 1.5%;
        color: {{title_color}};
    }

    .titlediv{
        padding-left: 2%;
        padding-right: 2%;
        width: 100%;

    }
    
    .nav_a{
        display: inline-block;
        font-family: Verdana, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 32;
        border-radius: 50px;
        border: 0;
        padding: 5px 20px 5px;
        margin-right: 1%;
        color: white;
        background-color: {{title_color}};
    }

    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; 
                color: {{color}};}
    
    .formcontainer{
        width: 40%;
        margin-left: 30%;
        padding-bottom: 15px;
        
    }
    
    input{
        padding: 20px 50px 20px;
        font-size: 24px;
        display: inline-block;
        margin: 0 auto;
        width: 100%;
        border: solid 1px;
        margin-bottom: 2%;
        border-radius: 50px;
        color: {{title_color}};
        background-color: white;
        border-color: {{title_color}};
    }
    
    ::placeholder{
        color: {{title_color}};
    }
    button{
        font-family: Verdana, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 32px;
        border-radius: 50px;
        border: 0;
        margin-top: 4%;
        margin-left: 42%;
        padding: 10px 25px 10px;
        color: {{color}};
        background-color: {{title_color}};
    }
    button:hover { text-decoration: none; 
                color: white;}

    p{
        font-family: Verdana, Tahoma, sans-serif;
        font-size: 20px;
        font-weight: bold;
        text-align: none;
        margin-bottom: 2%;
        padding-bottom: 2%;
        text-align: center;
        color: {{title_color}};
    }

    h3{
        font-family: Verdana, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 46;
        text-align: center;
        padding-bottom: 2%;
        margin-top: 20px;
        margin-bottom: 0px;
        color: {{title_color}};
    }

    h4{
        font-family: Verdana, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 36;
        text-align: center;
        padding-bottom: 2%;
        margin-top: 20px;
        margin-bottom: 0px;
        color: {{title_color}};
    }

    .textholder{
        margin-bottom: 2%;
        width: 60%;
        margin-left: 20%;
        border-bottom: 2px solid {{title_color}};
    }
    .onequestion{
        border-radius: 50px;
        border: 2px solid {{title_color}};
    }
</style>


<body class="body">
        <div class="titlediv">
                <h1 class="title">TurQuiz</h1>
                <a href="{{ url_for('dash') }}" class="nav_a">Dashboard</a>
                <a href="{{ url_for('logout') }}" class="nav_a">Logout</a>
        </div>
        <div class="textholder">
            <h3>Answer the questions below: </h3>
        </div>
        <div class="formcontainer">
            <form method="POST" action="/{{subject}}/{{subject_id}}/answer">
                {% for i in form %}
                <h4>{{i[0][1]}}</h4> <br> <br>
                <div class="onequestion"><p><input type="radio" name="{{i[0][0]}}" value="{{i[1][0]}}">{{i[1][0]}}</p></div><br>
                <div class="onequestion"><p><input type="radio" name="{{i[0][0]}}" value="{{i[1][1]}}">{{i[1][1]}}</p></div><br>
                <div class="onequestion"><p><input type="radio" name="{{i[0][0]}}" value="{{i[1][2]}}">{{i[1][2]}}</p></div><br>
                <div class="onequestion"><p><input type="radio" name="{{i[0][0]}}" value="{{i[1][3]}}">{{i[1][3]}}</p></div><br>
                {% endfor %}
                <button type="submit">Submit answers</button>
            </form>
        </div>

</body>
