<style>
 .body{overflow-x: hidden;width: 100%;background-color: {{color}};}
 .title{font-family: Verdana, Tahoma, sans-serif;font-weight: bold;font-size: 58;display: inline-block;margin-right: 55%;margin-left: 1.5%;color: {{title_color}};}
 .titlediv{padding-left: 2%;padding-right: 2%;width: 100%;}
 h3{font-family: Verdana, Tahoma, sans-serif;font-weight: bold;font-size: 46;text-align: center;padding-bottom: 2%;margin-top: 20px;margin-bottom: 0px;color: {{title_color}};}
 .nav_a{display: inline-block;font-family: Verdana, Tahoma, sans-serif;font-weight: bold;font-size: 32;border-radius: 50px;border: 0;padding: 5px 20px 5px;margin-right: 1%;color: white;background-color: {{title_color}};}
 .nav_a:link {text-decoration: none;}
 .nav_a:visited {text-decoration: none;}
 .nav_a:hover {text-decoration: none;color: {{color}};}
 .formcontainer{width: 40%;margin-left: 30%;padding-bottom: 15px;}
 input{padding: 20px 50px 20px;font-size: 24px;display: inline-block;margin: 0 auto;width: 100%;border: solid 1px;margin-bottom: 2%;border-radius: 50px;color: {{title_color}};background-color: white;border-color: {{title_color}};}
 ::placeholder{color: {{title_color}};}
 .a_back{display: inline-block;font-family: Verdana, Tahoma, sans-serif;font-weight: bold;font-size: 32;border-radius: 50px;border: 0;margin-left: 45%;padding: 5px 20px 5px;color: {{color}};background-color: {{title_color}};}
 .a_back:link {text-decoration: none;}
 .a_back:visited {text-decoration: none;}
 .a_back:hover {text-decoration: none;color: white;}

</style>


<body class="body">
        <div class="titlediv">
                <h1 class="title">TurQuiz</h1>
                <a href="{{ url_for('dash') }}" class="nav_a">Dashboard</a>
                <a href="{{ url_for('logout') }}" class="nav_a">Logout</a>
        </div>
        <h3>Seems like this quiz has no questions :(</h3>
        <a class="a_back" href="{{ url_for('community_quizzes') }}">Go back</a>
        </div>

</body>
