<style>
    .body{
        overflow-x: hidden;
        width: 100%; 
        background-color: {{color}};
    }
    
    .title{
        font-family: Verdana, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 58;
        display: inline-block;
        margin-right: 55%;
        margin-left: 1.5%;
        color: #2A8D88;
    }

    .titlediv{
        padding-left: 2%;
        padding-right: 2%;
        width: 100%;

    }
    
    .nav_a{
        display: inline-block;
        font-family: Verdana, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 32;
        border-radius: 50px;
        border: 0;
        padding: 5px 20px 5px;
        margin-right: 1%;
        color: white;
        background-color: #2A8D88;
    }

    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; 
                color: {{color}};}
    
    h3{
        font-family: Verdana, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 46;
        text-align: center;
        padding-bottom: 2%;
        margin-top: 20px;
        margin-bottom: 0px;
        color: #2A8D88;
    }
    .a_back{
        display: inline-block;
        font-family: Verdana, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 32;
        border-radius: 50px;
        border: 0;
        margin-left: 45%;
        padding: 5px 20px 5px;
        color: {{color}};
        background-color: #2A8D88;
    }

    .a_back:link { text-decoration: none; }
    .a_back:visited { text-decoration: none; }
    .a_back:hover { text-decoration: none; 
                color: white;}

</style>


<body class="body">
        <div class="titlediv">
                <h1 class="title">TurQuiz</h1>
                <a href="{{ url_for('dash') }}" class="nav_a">Dashboard</a>
                <a href="{{ url_for('logout') }}" class="nav_a">Logout</a>
        </div>
        <h3>Seems like this quiz had no questions :(</h3>
        <a class="a_back" href="{{ url_for('community_quizzes') }}">Go back</a>
        </div>

</body>
