<style>
    .body{
        overflow-x: hidden;
        width: 100%; 
        background-color: {{color}};
    }

    a{
        display: inline-block;
        font-family: Verdana, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 32;
        border-radius: 50px;
        border: 0;
        padding: 5px 20px 5px;
        margin-right: 1%;
        color: {{color}};
        background-color: #2A8D88;
    }
    
    a:hover,a:link,a:visited{text-decoration:none}
    
    .quote,.title{font-weight:700}
    
    .author,.quote,.title{font-family:Verdana,Tahoma,sans-serif;color:#2a8d88}
    
    .title{border:3px;font-size:58;display:inline-block;margin-right:60%;margin-left:1.5%}
    
    .titlediv{padding-left:2%;padding-right:2%;width:100%;margin-bottom:7.5%}
    
    a:hover{color:#fff}
    
    .quotediv{width:60%;margin-left:20%;align-items:center}
    
    .quote{font-size:78;text-align:center}
    
    .author{font-size:28;text-align:right}

</style>

<body class="body">
        <div class="titlediv">
                <h1 class="title">TurQuiz</h1> 
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
        </div>
        <div class="quotediv">
            <h1 class="quote">"{{quote}}"</h1>
            <p class="author">- {{author}}</p>
        </div>
</body>
