<style>
    .body{
        overflow-x: hidden;
        width: 100%; 
        background-color: {{color}};
    }
    
    .title{
        border: 3px;
        font-family: Verdana, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 58;
        display: inline-block;
        margin-right: 30%;
        margin-left: 1.5%;
        color: {{title_color}};
    }

    .titlediv{
        padding-left: 2%;
        padding-right: 2%;
        width: 100%;
        margin-bottom: 2%;
    }
    
    a{
        display: inline-block;
        font-family: Verdana, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 32;
        border-radius: 50px;
        border: 0;
        padding: 5px 20px 5px;
        margin-right: 1%;
        color: {{color}};
        background-color: {{title_color}};
    }

    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; 
                color: white;}
    
    li {
        list-style: none;
        text-align: center;
        margin-bottom: 1%;
    }

    .quiz_a{
        padding: 30px;
        width: 30%;
    }

    h3{
        font-family: Verdana, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 52;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0px;
        color: {{title_color}};
    }
    p{
        font-family: Verdana, Tahoma, sans-serif;
        font-weight: normal;
        font-size: 26;
        text-align: center;
        margin-bottom: 2%;
        color: {{title_color}};
    }
    .textholder{
        margin-bottom: 2%;
        width: 60%;
        margin-left: 20%;
        border-bottom: 2px solid {{title_color}};
    }
</style>

<body class="body">
        <div class="titlediv">
                <h1 class="title">TurQuiz</h1> 
                <a href="{{ url_for('dash') }}">Dashboard</a>
                <a href="{{ url_for('my_scores') }}" class="nav_a">My Scores</a>
                <a href="{{ url_for('new') }}">Create a Quiz</a>
                <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        <div class="textholder">
            <h3>Your quizzes by topic: </h3>
            <p>Sorted by latest</p>
        </div>
        {% for i in quizzes %}
        <li><a class="quiz_a" href="/{{i.subject}}/{{i['id']}}/answer">{{i.subject}}</a><a href="/{{i['id']}}/delete">Delete Quiz</a></li>
        {% endfor %}
</body>
