<style>
 .body{overflow-x: hidden;width: 100%; font-family: Verdana, Tahoma, sans-serif;background-color: {{color}};}
 .title{border: 3px;font-weight: bold;font-size: 58;display: inline-block;margin-right: 42.5%;margin-left: 1.5%;color: {{title_color}};}
 .titlediv{padding-left: 2%;padding-right: 2%;width: 100%;margin-bottom: 2%;}
 a{display: inline-block;font-weight: bold;font-size: 32;border-radius: 50px;border: 0;padding: 5px 20px 5px;margin-right: 1%;color: {{color}};background-color: {{title_color}};}
 a:link {text-decoration: none;}
 a:visited {text-decoration: none;}
 a:hover {text-decoration: none;color: white;}
 li {list-style: none;text-align: center;margin-bottom: 1%;margin-left: 23.5%;width: 50%;padding: 30px;border-radius: 50px;border: 2px solid {{title_color}};}
 h3 {font-weight: bold;font-size: 52;text-align: center;margin-top: 20px;margin-bottom: 0px;color: {{title_color}};}
 p {font-weight: normal;font-size: 26;text-align: center;font-weight: bold;color: {{title_color}};}
 .quiz_a{padding: 30px;width: 50%;}
 .textholder{margin-bottom: 2%;width: 60%;margin-left: 20%;border-bottom: 2px solid {{title_color}};}
 .score_p{margin-bottom: 0%;}
 .ranks{width: 60%;margin-left: 20%;margin-bottom: 2%;}
 .rankholder{width: 42.5%;padding: 10px;margin-left: 4%;border-radius: 50px;display: inline-block;}
 .ans_rankcolor{margin-top: 4%;border-radius: 50px;height: 10%;padding: 5px;border: 5px dashed {{answer_rankcolor_code}};}
 .cr_rankcolor{margin-top: 4%;border-radius: 50px;height: 10%;padding: 5px;border: 5px dashed {{create_rankcolor_code}};}
 .ans_rankp{color: {{answer_rankcolor_code}};}
 .cr_rankp{color: {{create_rankcolor_code}};}
</style>


<body class="body">
        <div class="titlediv">
                <h1 class="title">TurQuiz</h1> 
                <a href="{{ url_for('dash') }}">Dashboard</a>
                <a href="{{ url_for('new') }}">Create a Quiz</a>
                <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        <div class="ranks">
            <div class="rankholder">
                <h3>Answer rank:</h3>
                <div class="ans_rankcolor"><p class="ans_rankp">{{ranks[1]}}</p></div>
                <p>You've answered a quiz <br> {{ranks[0]}} times!</p>
            </div>
            
            <div class="rankholder">
                <h3>Creator rank:</h3>
                <div class="cr_rankcolor"><p class="cr_rankp">{{ranks[3]}}</p></div>
                <p>You've created <br>{{ranks[2]}} quizzes!</p>
            </div>
        </div>  

        <div class="textholder">
            <h3>Your personal highscores: </h3>
            <p></p>
        </div>        
        {% for i in quiz_and_score %}
        <li><a class="quiz_a" href="/{{i.subject}}/{{i['id']}}/answer">{{i.subject}}</a><p class="score_p">Your high-score: {{i.score}}%</p></li>
        {% endfor %}
        {% if  quiz_and_score|length < 1 %} 
            <h3>No community quizzes played</h3>
        {% endif %}
</body>
